@font-face{
  font-family: 'Public Sans';
   src: url("/fonts/PublicSans-Medium.woff2") format("woff2"), url("/fonts/PublicSans-Medium.woff") format("woff"),
}

body{
  font-family: 'Public Sans', sans-serif;
  overflow: hidden;
  height: 100%;
  transition: background-color 5s linear;
}

main{
  height: auto;
  overflow: auto;
  padding-bottom: 50px;
}

.centered {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: 100%;
  margin: auto;
}
